# Laravel
/vendor/
/node_modules/
.env
.env.*
.env.backup
.env.local
.env.production
/storage/*.key
/storage/development.key
/storage/production.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/public/storage
/public/hot
/public/build
/.phpunit.cache
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
phpunit.xml
.DS_Store
Thumbs.db
*.log
*.sqlite
*.sqlite-journal
.idea/
.vscode/